# Question: 1 What is a database? Differentiate between SQL and NoSQL databases.

A database is information that is set up for easy access, management and updating. Computer databases typically store aggregations of data records or files that contain information, such as sales transactions, customer data, financials and product information.
Databases are used for storing, maintaining and accessing any sort of data. They collect information on people, places or things. That information is gathered in one place so that it can be observed and analyzed. Databases can be thought of as an organized collection of information.

### Difference of SQL and NoSQL :-

**SQL**
* RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
* These databases have fixed or static or predefined schema
* These databases are not suited for hierarchical data storage.
* These databases are best suited for complex queries
* Vertically Scalable
* Follows ACID property
* Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc



**NoSQL**
* Non-relational or distributed database system.
* They have dynamic schema
* These databases are best suited for hierarchical data storage.
* These databases are not so good for complex queries
* Horizontally scalable
* Follows CAP(consistency, availability, partition tolerance)
* Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

# Question 2: What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database.
You can generate DDL in a script for database objects to:
Keep a snapshot of the database structure
Set up a test system where the database acts like the production system but contains no data
Produce templates for new objects that you can create based on existing ones.

#### CREATE :-
The CREATE TABLE command creates a new table in the database.

Example :

CREATE TABLE emp (
    empID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

#### ALTER :-
The ALTER TABLE command adds, deletes, or modifies columns in a table.
The ALTER TABLE command also adds and deletes various constraints in a table.

Example :

ALTER TABLE Customers
ADD Email varchar(255);

#### DROP :-
The DROP TABLE command deletes a table in the database.

Example :

DROP TABLE Shippers;


#### TRUNCATE :-
The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

Example :

TRUNCATE TABLE Categories;

# Question 3: What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The data manipulation language statements are used to retrieve, add, delete, and modify the data that is stored in the objects of database. The keywords or statements that are associated with the data manipulation language are: SELECT INSERT, UPDATE and DELETE. These are the primary statements of data manipulation language (DML) and are used widely.

* The INSERT statement is used to insert a new row in the database that is adding data to a table.
* The UPDATE statement is used to update the data or row in the table.
* The DELETE statement is used to delete a row from the table in the database.

### INSERT Command
To add data to a table the INSERT command is used. 

INSERT into EMPLOYEE ("Emp_Name","Emp_No","Dept_No","Dept_Name")values("John","A001",10,"Management");
INSERT into EMPLOYEE ("Emp_Name","Emp_No","Dept_No","Dept_Name")values("Sameer","A002",11,"Account);



### UPDATE Command
To update a table or row or column in the table we use the update command. 
Update table-name set column-name = value where condition;

Update employee set EMP_NO = A001 where DEPT_NO = 10;



### DELETE Command
To delete a table row or some data from a table in the database the delete command is used.
DELETE from table-name;
This query will delete all the records from the table named as Employee. This change will be permanent and cannot be recovered.

DELETE from employee where DEPT_NO = 11;

# Question 4: What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

### List of DQL: 

* SELECT: It is used to retrieve data from the database.

#### Syntax :
SELECT expressions    
FROM TABLES    
WHERE conditions;  

#### Example :
SELECT emp_name  
FROM employee  
WHERE age > 20;

# Question 5: Explain Primary Key and Foreign Key.

### Primary key:
The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely. The primary key column can't store duplicate values. It is also called a minimal super key; therefore, we cannot specify more than one primary key in any relationship.

For example, we have a table named customer with attributes such as ID, Name, and City. Only the ID column can never contain duplicate and NULL values because each customer has a unique identification number. This feature helps to identify each record in the database uniquely. Hence, we can make the ID attribute a primary key.

### Foreign key:
The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity. It is also known as the referencing key that establishes a relationship between two different tables in a database. A foreign key always matches the primary key column in another table. It means a foreign key column in one table refers to the primary key column of another table. A foreign key is beneficial in relational database normalization, especially when we need to access records from other tables.
A foreign key creates a parent-child relationship with the tables where the parent table holds the initial column values, and the child table references the parent column values. We can achieve this relationship only when the foreign key constraint is found on the child table.

For example, we have a table named contact with attributes such as ID, Customer_Id, Customer_Info, and Type. Here we can make the Customer_Id column a foreign key.

#### If we want to delete the referential data that removes records from both tables, we can define the foreign key in the contact table as below:

FOREIGN KEY (Customer_Id) REFERENCES customer(ID)     
ON DELETE CASCADE     
ON UPDATE CASCADE

# Question 6: Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

#Creating connection object
mydb = mysql.connector.connect(
	host = "localhost",
	user = "yourusername",
	password = "your_password"
)

#Printing the connection object
print(mydb)

* cursor()
The cursor object can be defined as an abstraction specified in the Python DB-API 2.0. It facilitates us to have multiple separate working environments through the same connection to the database. We can create the cursor object by calling the 'cursor' function of the connection object. The cursor object is an important aspect of executing queries to the databases.

* Syntax:
<my_cur>  = conn.cursor()  


* execute()
This method is used to execute SQL DDL statements, it returns a boolean value specifying weather the ResultSet object can be retrieved.

# Question 7: Give the order of execution of SQL clauses in an SQL query.

* FROM - Tables are joined to get the base data.
* WHERE	- The base data is filtered.
* GROUP BY	- The filtered base data is grouped.
* HAVING - The grouped base data is filtered.
* SELECT - The final data is returned.
* ORDER BY - The final data is sorted.
* LIMIT - The returned data is limited to row count.