**Q1) List any five functions of the pandas library with execution.**

1. read_csv(): This function is used to read a CSV file into a DataFrame.

In [4]:
import pandas as pd

In [7]:
data = [[7,9,3,5,9],[9,3,4,5,7],[3,4,7,8,2]]
df = pd.DataFrame(data)
df

   0  1  2  3  4
0  7  9  3  5  9
1  9  3  4  5  7
2  3  4  7  8  2

2. mean() : used to get mean all numeric values column

In [8]:
df.mean()

0    6.333333
1    5.333333
2    4.666667
3    6.000000
4    6.000000
dtype: float64

3. describe(): This function generates descriptive statistics that summarize the central tendency, dispersion, and shape of a datasetâ€™s distribution, excluding NaN values.

In [11]:
df.describe()

              0         1         2         3         4
count  3.000000  3.000000  3.000000  3.000000  3.000000
mean   6.333333  5.333333  4.666667  6.000000  6.000000
std    3.055050  3.214550  2.081666  1.732051  3.605551
min    3.000000  3.000000  3.000000  5.000000  2.000000
25%    5.000000  3.500000  3.500000  5.000000  4.500000
50%    7.000000  4.000000  4.000000  5.000000  7.000000
75%    8.000000  6.500000  5.500000  6.500000  8.000000
max    9.000000  9.000000  7.000000  8.000000  9.000000

4. pd.Series(): create a pandas series

In [12]:
df = pd.Series([4,5,6,7,8,9])
type(df)

pandas.core.series.Series

5. df.sum() used to sum all numeric data columns

In [13]:
df.sum()

39

**Q2) Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.**

In [34]:
import pandas as pd

data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
print("Original DataFrame:")
print(df)

print("\nRe-indexed DataFrame:")
df.reindex([1,3])

Original DataFrame:
    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Re-indexed DataFrame:

    A   B   C
1  10  40  70
3  20  50  80

**Q3) You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.**

In [36]:
import pandas as pd

def sum_first_three_values(df):
    if 'Values' not in df.columns:
        print("The 'Values' column does not exist in the DataFrame.")
        return

    first_three_values = df['Values'].head(3)

    # Calculate the sum of the first three values
    total_sum = first_three_values.sum()
    print("The sum of the first three values is:", total_sum)

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
sum_first_three_values(df)

The sum of the first three values is: 60

Q4) Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [42]:
# Example usage:
data = {'Text': ['Hello world', 'Pandas is great', 'Data analysis with Python']}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
print("\nDataFrame with 'Word_Count' column:")
print(df)

Original DataFrame:
                        Text
0                Hello world
1            Pandas is great
2  Data analysis with Python

DataFrame with 'Word_Count' column:
                        Text  Word_Count
0                Hello world           2
1            Pandas is great           3
2  Data analysis with Python           4

Q5) How are DataFrame.size() and DataFrame.shape() different?

**1) DataFrame.size**

Purpose: Returns the number of elements in the DataFrame.

Output: A single integer representing the total number of elements (rows * columns)

In [46]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

print(df.size)

6

**2) DataFrame.shape**

Purpose: Returns the dimensions of the DataFrame.

Output: A tuple representing the number of rows and columns in the DataFrame (rows, columns).

In [47]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

print(df.shape)

(3, 2)

**Q6) Which function of pandas do we use to read an excel file?**

In [ ]:
file_path = pd.read_excel("excel_file_path")

**Q7) You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.**

In [73]:
import pandas as pd

def extract_usernames(df):
    if 'Email' not in df.columns:
        print("The 'Email' column does not exist in the DataFrame.")
        return df

data = {'Email': ['john.doe@example.com', 'jane.smith@example.com', 'foo.bar@domain.com']}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

print("\n")
df[['username','company']] = df['Email'].str.split("@",expand=True,)
df.drop(df.columns[2], axis=1, inplace=True)
print(df)

Original DataFrame:
                    Email
0    john.doe@example.com
1  jane.smith@example.com
2      foo.bar@domain.com


                    Email    username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2      foo.bar@domain.com     foo.bar

**Q8) You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:**

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [74]:
import pandas as pd

def select_rows(df):
    # Select rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    
    return selected_rows

data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

selected_df = select_rows(df)
print("\nSelected DataFrame:")
print(selected_df)

Original DataFrame:
   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

Selected DataFrame:
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

**Q9) Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.**

In [76]:
import pandas as pd

def calculate_statistics(df):
    if 'Values' not in df.columns:
        print("The 'Values' column does not exist in the DataFrame.")
        return None

    # Calculate mean, median, and standard deviation
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_dev_value = df['Values'].std()

    return mean_value, median_value, std_dev_value

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

mean, median, std_dev = calculate_statistics(df)
print("\nStatistics:")
print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Standard Deviation: {std_dev}")

Original DataFrame:
   Values
0      10
1      20
2      30
3      40
4      50

Statistics:
Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

**Q10) Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.**

In [101]:
import pandas as pd

def calculate_moving_average(df):
    if 'Sales' not in df.columns or 'Date' not in df.columns:
        print("Required columns 'Sales' or 'Date' do not exist in the DataFrame.")
        return df
    
    df['Date'] = pd.to_datetime(df['Date'])

    # Sort DataFrame by 'Date' in case it's not sorted
    df = df.sort_values(by='Date').reset_index(drop=True)

    # Calculate moving average using a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

data = {
    'Date': pd.date_range(start='2024-01-01', periods=10),
    'Sales': [100, 120, 80, 110, 90, 130, 95, 115, 105, 125]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df = calculate_moving_average(df)
print("\nDataFrame with Moving Average:\n")
print(df)

Original DataFrame:
        Date  Sales
0 2024-01-01    100
1 2024-01-02    120
2 2024-01-03     80
3 2024-01-04    110
4 2024-01-05     90
5 2024-01-06    130
6 2024-01-07     95
7 2024-01-08    115
8 2024-01-09    105
9 2024-01-10    125

DataFrame with Moving Average:

        Date  Sales  MovingAverage
0 2024-01-01    100     100.000000
1 2024-01-02    120     110.000000
2 2024-01-03     80     100.000000
3 2024-01-04    110     102.500000
4 2024-01-05     90     100.000000
5 2024-01-06    130     105.000000
6 2024-01-07     95     103.571429
7 2024-01-08    115     105.714286
8 2024-01-09    105     103.571429
9 2024-01-10    125     110.000000

Q11) You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:

Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [105]:
import pandas as pd

def add_weekday_column(df):
    if 'Date' not in df.columns:
        print("The 'Date' column does not exist in the DataFrame.")
        return df
    
    # Convert 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Add a new column 'Weekday' containing the weekday name
    df['Weekday'] = df['Date'].dt.day_name()

    return df

data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df = add_weekday_column(df)
print("\nDataFrame with 'Weekday' column:")
print(df)

Original DataFrame:
         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

DataFrame with 'Weekday' column:
        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

**Q12) Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.**

In [106]:
import pandas as pd

def select_rows_between_dates(df):
    if 'Date' not in df.columns:
        print("The 'Date' column does not exist in the DataFrame.")
        return df
    
    # Convert 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Select rows where 'Date' is between '2023-01-01' and '2023-01-31'
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return selected_rows

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-05', '2023-02-28']}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

selected_df = select_rows_between_dates(df)
print("\nSelected DataFrame:")
print(selected_df)

Original DataFrame:
         Date
0  2023-01-01
1  2023-01-15
2  2023-01-31
3  2023-02-05
4  2023-02-28

Selected DataFrame:
        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

**Q13) To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?**

In [108]:
# The first and foremost necessary library that needs to be imported to use the basic functions of Pandas is pandas itself. 
# In Python, you typically import Pandas using the import statement:
import pandas as pd